html {
    background-color: #2F2F2F;    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
header {
    margin: 0;
    border-bottom: 2px solid black;
    padding: .5rem 2rem;
}
header h1 {
    color: black;
    margin: 0;
    padding: 0;
}
header p {
    margin: 0;
    padding: .25em 0 0 0;
}
header ul {
    margin: 0;
    padding: 1em 0 0 0;
}

main {
    margin: 0;
    padding: .5em 2em .25em;
}
footer {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
    padding: .5em 0 .25em;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: .25em 0 .25em ;
}

h1, h2 {
    color: black;
}

p {
    margin: .5em 0 .5em 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

nav ul li {
    padding-bottom: 0.5em;
}

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #0019F3;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}

td:first-child {
    width: 20%;
}

td:nth-child(2) {
    width: 25%;
}

td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6) {
    width: 10%;
}

td:last-child, td:nth-child(7), td:nth-child(8) {
    width: 5%;
    text-align: center;
}

form {
    margin: 0;
}

.collapsible {
    background-color: rgb(200, 200, 200);
    color: rgb(50, 50, 50);
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    font-weight: bold;
}

.heading-medium {
    font-size: 1.2rem;
}

.heading-large {
    font-size: 1.5rem;
}

.collapsible:hover {
    background-color: rgb(225, 225, 225);
}

.active {
    border: 1px solid black;
}

.collapse {
    display: block;
    padding: 10px 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 15px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

form {
    margin: 0;
}

br {
    clear: left;
}

#aligned {
    margin: .5em 0 2em;
}

#aligned label {
    width: 8em;
    margin-top: .2em;
    margin-right: 1em;
    margin-bottom: .5em;
    float: left;
}

#aligned input {
    float: left;
}

#aligned input[text] {
    width: 15em;
}

#aligned .message {
    margin-left: .5em;
    width: 15em;
}